.art-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
}

.art-grid-container {
    background-color: rgb(55 65 81);
    width: 80vw;
}

.art-grid-wrapper {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: auto auto;
    gap: 0.125rem;

}

.art-title-wrapper {
    grid-column: span 3;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.75rem;
    background-color: var(--fore-bg-color);

}
.art-caption {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.art-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;

}

.art-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    background-color: var(--fore-bg-color);
    padding-top: 1.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.art-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.art-num{
    font-size: 2rem;
    align-self: center;
    font-weight: 500;
    color: white;
}
.art-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.art-shares {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.art-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}
.author-name p {
    margin: 0;
}

.author-profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.art-share {
    border: rgb(100,100,100) solid 1px;
}

.share-icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.3rem;
}

.share-icons-grid .share-grid-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color)

}

.share-icons-grid .share-grid-social-icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.art-body {
    background-color: var(--fore-bg-color);
    padding: 1.75rem;
}

.art-image {

}

.image-label{
    font-size: 0.8rem;
    font-weight: 200;;
    color: gray;
}
.art-image img{
    max-width: 100%;
}


.art-related {
    background-color: var(--fore-bg-color);
}