.hero-grid-container {
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content min-content;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.hero-articles-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.featured-news-container {
  grid-row: span 1;

}

.grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

/* hashtag */

/* .grid-item:nth-child(1) { 
  grid-column: span 2;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
} */

/* featured article */
.grid-item:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  grid-column: span 2;
  position: relative;
}

.grid-item:nth-child(2) .article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-item:nth-child(2) .article-image-wrapper {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: -6rem;
}

.grid-item:nth-child(2) .article-image {
  overflow: hidden;
  height: 90%
}

.grid-item:nth-child(2) .article-share-comments-time {
  background-color: var(--fore-bg-color);
}

.grid-item:nth-child(2) .article-details-container {

  background-image: linear-gradient(0deg, var(--fore-bg-color) 70%, transparent);
}

.hashtag-slider {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  color: var(--text-color);
  background-color: var(--fore-bg-color);
}

.hashtag-list {
  display: inline-flex;
  gap: 10px;
  margin: 5px;
  list-style: none;
  font-size: 0.8rem;
}

.hashtag-heading {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(164, 80, 145, 1);
  padding: 0.5rem;
  height: 50%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 0.125rem solid rgb(55 65 81);
}

.grid-item {

}

.featured-news-wrapper {
  box-sizing: border-box;
  max-height: 100%;
  max-height: 62.5vh; 
  background-color: var(--fore-bg-color);
  overflow-y: auto;
  scrollbar-width: none;
}

.featured-news-buttons-wrapper {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 0.125rem solid rgb(55 65 81);
}

.featured-news-button {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.featured-news-article-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.33rem;
}
 
.featured-news-article .article-card {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(55 65 81);
  margin-top: 0.2rem;
}

.featured-news-article .article-card .article-card-wrapper {
  display: flex;
  flex-direction: column;
}

.featured-news-article .article-headline {
  min-height: 1rem;
  margin: 0;
}

.featured-news-article .article-share-comments-time {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  vertical-align: text-bottom;
}

.featured-news-article .tagline {
  margin-bottom: 0.5rem;
}

.featured-news-article .article-image-wrapper {
  display: none;
} 