.promo-cat-section-container {
  background-color: var(--fore-bg-color);
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
}

.promo-cat-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content auto;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.promo-grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

.promo-grid-item:nth-child(1) {
  grid-column: span 4;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

.promo-grid-item:nth-child(1n+6) .article-image-wrapper img {
  display: none;
}