.comment-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.75rem;
    background-color: var(--main-bg-color);
}

.comment-user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-user-details img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.comment-user-details .comment-user {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--text-color);
}

.comment-user-details .comment-time {
    color: var(--main-text-color);
    font-size: 0.75rem;
}

.comment-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5rem;
    border-top: 1px solid rgb(55, 65, 81);
} 

.comment-buttons-wrapper button {
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
    font-size: 0.75rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin-top: 0.75rem;
    border-right: 1px solid rgb(55, 65, 81);
}

.comment-buttons-wrapper button:last-child {
    border-right: none;
}

.comment-container .comment-container {
    padding-left: 3rem;
    border-left: 1px solid rgb(55, 65, 81);
}