.article-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-card-wrapper {
  height: 100%;
}

.article-card a {
  text-decoration: none;
  color: inherit;

}

.caption {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

.article-title {
  font-size: 0.8rem;
  font-weight: bold;
  min-height: 2rem;
}

.article-image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}

.article-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.article-share-comments-time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  align-items: flex-end;
  margin-top: auto;
  vertical-align: text-bottom;
}

.article-shares-comments {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.article-shares {
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.article-shares img {
  width: 0.7rem;
}

.article-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.article-comments img {
  width: 0.7rem;
}