
.main-content {
    margin-top: 56px;
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}

.admin-dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}