.avatar-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    justify-content: flex-start;
    margin-bottom: 2rem;
    align-items: end;
}

.pic-input {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
}

.inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(153, 143, 143, 0.516);
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0;
}

.avatar-icon {
    color: white;
    font-size: 2.5rem;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-button {
    align-self: center;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: red;
    color: white;
    border: 0;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}