.ham-menu-icon-wrapper {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ham-menu-icon-svg {
    width: 1.25rem;
    height: 1.25rem;
    color: inherit;
}

.right-menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-right: 1.25rem
}

.search-icon-wrapper {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.75rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.search-icon-svg {
    width: 1rem;
    height: 1rem;
    color: inherit;
}

.profile-icon-wrapper {
    width: 1.25rem;
    height: 1.25rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.profile-icon-svg {
    width: 1rem;
    height: 1rem;
    color: inherit;
}