.nav-items-wrapper {
    display: flex;
    align-items: center;
    padding-left: 1.25rem
}

.nav-item {
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-item-icon-box {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.75rem;
    display: flex;
    flex-direction: row;
    background-color: #61dafb;
    border-radius: 0.125rem;
}

.nav-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-content {
    display: flex;
    flex-direction: row;
}