.featured-news-wrapper {
  height: 100%;
}

.featured-news-buttons-wrapper {
  padding: auto 0.5rem auto 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.125rem solid rgb(55 65 81);
}

.featured-news-button {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.featured-news-container .article-card {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  border-top: 1px solid rgb(55 65 81);
  margin-top: 0.2rem;
}

.featured-news-container .article-card .article-card-wrapper {
  display: flex;
  flex-direction: column;
}

.featured-news-container .article-headline {
  min-height: 1rem;
  margin: 0;
}

.featured-news-container .article-share-comments-time {
  margin: 0;
  padding-top: 0.5rem;
  vertical-align: text-bottom;
}

.featured-news-container .tagline {
  margin-bottom: 0.5rem;
}

.featured-news-container .article-image-wrapper {
  display: none;
}