.dropdown-close {
  color: inherit;
}

.dropdown-menu {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: var(--fore-bg-color);
  color: inherit;
  top: 56px;
  width: 80rem;

}

.dropdown-menu a {
  color: inherit;
  text-decoration: none;
}

.dropdown-grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  gap: 1.5rem;
}

.category-square {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.125rem;
  margin-right: 0.75rem;
}

.category-list {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.category-list-heading {
  display: block;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  background-color: rgb(75, 85, 99);
  font-weight: 600;
}

.category-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subcategories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subcategory-item {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.dropdown-items-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  align-content: center;
  justify-items: start;
  align-items: start;
}

.dropdown-grid-item {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dropdown-grid-item ul {
  margin: 0;
  padding: 0;
}



.dropdown-grid-item li {
  list-style: none;
}