:root {
  --main-bg-color: rgb(16, 24, 39);
  --fore-bg-color: rgb(31, 41, 55);
  --text-color: rgb(207, 207, 207);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--fore-bg-color);
  font-size: 0.95rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 40px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}