:root {
  --main-bg-color: rgb(16, 24, 39);
  --fore-bg-color: rgb(31, 41, 55);
  --text-color: rgb(207, 207, 207);
}


.App {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  color: var(--text-color);
}

.App-header {
  background-color: var(--fore-bg-color);
  font-size: 0.95rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 40px;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App-link {
  text-decoration: none;

}

#logo {
  width: 80px;
  height: 40px;
  margin-right: 0.5rem;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  min-width: 71vw;
  max-width: 80vw;
}

.nav-item {
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

.nav-item-icon-box {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.75rem;
  display: flex;
  flex-direction: row;
  background-color: #61dafb;
  border-radius: 0.125rem;

}

.nav-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-content {
  display: flex;
  flex-direction: row;

}

.navigation {
  display: flex;
  flex-direction: row;
}

.theme-button {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  border-left: 1px solid rgba(75, 85, 99, 1);
  height: 1.25rem;
}

.theme-button-wrapper {
  display: flex;
  align-items: center;
}

.dark-mode-icon-svg {
  display: flex;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1.25rem;
}

.side-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.search-icon-wrapper {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.75rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-icon-svg {
  width: 1rem;
  height: 1rem;

}

.profile-icon-wrapper {
  width: 1.25rem;
  height: 1.25rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.profile-icon-svg {
  width: 1rem;
  height: 1rem;

}

.ham-menu-icon-wrapper {
  width: 1.25rem;
  height: 1.25rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ham-menu-icon-svg {
  width: 1rem;
  height: 1rem;

}