:root {
  --main-bg-color: rgb(16, 24, 39);
  --fore-bg-color: rgb(31, 41, 55);
  --text-color: rgb(207, 207, 207);
}


.App {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.App-header {
  background-color: var(--fore-bg-color);
  font-size: 0.95rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 40px;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App-link {
  text-decoration: none;

}

#logo {
  width: 80px;
  height: 40px;
  margin-right: 0.5rem;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 80rem;
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  padding-left: 1.25rem
}

.nav-item {
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-item-icon-box {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.75rem;
  display: flex;
  flex-direction: row;
  background-color: #61dafb;
  border-radius: 0.125rem;
}

.nav-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-content {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.theme-button {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
  border-left: 1px solid rgba(75, 85, 99, 1);
  height: 1.25rem;
}

.theme-button-wrapper {
  display: flex;
  align-items: center;
}

.dark-mode-icon-svg {
  display: flex;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1.25rem;
}

.side-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding-right: 1.25rem
}

.search-icon-wrapper {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.75rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search-icon-svg {
  width: 1rem;
  height: 1rem;
  color: inherit;
}

.profile-icon-wrapper {
  width: 1.25rem;
  height: 1.25rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.profile-icon-svg {
  width: 1rem;
  height: 1rem;
  color: inherit;
}

.ham-menu-icon-wrapper {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ham-menu-icon-svg {
  width: 1.25rem;
  height: 1.25rem;
  color: inherit;
}

.hero-grid-container {
  background-color: var(--fore-bg-color);
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
}


.hero-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 25%;
  grid-template-rows: min-content auto auto;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

.grid-item:nth-child(1) {
  grid-column: span 5;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

.grid-item:nth-child(3) {
  display: flex;
  flex-direction: flex-start;
  grid-column: span 2;
  position: relative;
}

.grid-item:nth-child(3) .article-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-item:nth-child(3) .article-image-wrapper {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: -6rem;
}

.grid-item:nth-child(3) .article-image {
  overflow: hidden;
  height: 90%
}

.grid-item:nth-child(3) .article-share-comments-time {
  background-color: var(--fore-bg-color);
}

.grid-item:nth-child(3) .article-details-container {

  background-image: linear-gradient(0deg, var(--fore-bg-color) 70%, transparent);
}

.grid-item:nth-child(5) {
  grid-row: span 2;
  max-height: 560px;
  overflow-y: auto;
  scrollbar-width: none;
}


.article-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-card-wrapper {
  height: 100%;
}

.tagline {
  font-size: 0.7rem;
  font-weight: bold;
}

.article-headline {
  font-size: 0.8rem;
  font-weight: bold;
  min-height: 2rem;
}

.article-image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}

.article-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.article-share-comments-time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  align-items: flex-end;
  margin-top: auto;
  vertical-align: text-bottom;
}

.article-shares-comments {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.article-shares {
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.article-shares img {
  width: 0.7rem;
}

.article-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.article-comments img {
  width: 0.7rem;
}

.hashtag-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  color: var(--text-color);
}

.hashtag-list {
  display: inline-flex;
  gap: 10px;
  margin: 5px;
  list-style: none;
  font-size: 0.8rem;
}

.hashtag-slider-logo {
  height: 50%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 0.125rem solid rgb(55 65 81);
}

.featured-news-wrapper {
  height: 100%;
}

.featured-news-buttons-wrapper {
  padding: auto 0.5rem auto 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.125rem solid rgb(55 65 81);
}

.featured-news-button {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.featured-news-container .article-card {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  border-top: 1px solid rgb(55 65 81);
  margin-top: 0.2rem;
}

.featured-news-container .article-card .article-card-wrapper {
  display: flex;
  flex-direction: column;
}

.featured-news-container .article-headline {
  min-height: 1rem;
  margin: 0;
}

.featured-news-container .article-share-comments-time {
  margin: 0;
  padding-top: 0.5rem;
  vertical-align: text-bottom;
}

.featured-news-container .tagline {
  margin-bottom: 0.5rem;
}

.featured-news-container .article-image-wrapper {
  display: none;
}

.cat-six-section-container {
  background-color: var(--fore-bg-color);
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
}

.cat-six-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 25%;
  grid-template-rows: min-content auto auto;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.cat-six-grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

.cat-six-grid-item:nth-child(1) {
  grid-column: span 5;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

.cat-six-grid-item:nth-child(n+2):nth-child(-n+5) {
  grid-row: span 2;
}

.cat-six-grid-item:nth-last-child(-n+2) .article-image-wrapper img {
  display: none;
}

.cat-four-section-container {
  background-color: var(--fore-bg-color);
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
}

.cat-four-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content auto;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.cat-four-grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

.cat-four-grid-item:nth-child(1) {
  grid-column: span 4;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

.promo-cat-section-container {
  background-color: var(--fore-bg-color);
  display: flex;
  max-width: 80rem;
  margin: 0.75rem auto 2.5rem auto;
  max-height: min-content;
}

.promo-cat-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content auto;
  gap: 0.125rem;
  background-color: rgb(55 65 81);
}

.promo-grid-item {
  text-align: left;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--fore-bg-color);
}

.promo-grid-item:nth-child(1){
  grid-column: span 4;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  max-width: 100%;
}

.promo-grid-item:nth-child(1n+6) .article-image-wrapper img {
  display: none;
}

